<ion-content fullscreen>
  <ion-item lines="none" class="header">
    <ion-label>Generar un nuevo reporte</ion-label>
    <ion-icon (click)="dismiss()" name="close-outline" class="close" slot="end"></ion-icon>
  </ion-item>
<ion-card class="image-container" button (click)="takePhoto()">
    <img [src]="image ? image : './assets/icon/image.svg'" width="80" />
</ion-card>
<ion-list>
  <ion-radio-group>
    <ion-list-header>
      <ion-label>
      Evaluación
      </ion-label>
    </ion-list-header>
    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-icon src="./assets/icon/water-danger.svg" class="qualify"></ion-icon>
          <ion-radio value="2" mode="md"></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item lines="none">
          <ion-icon src="./assets/icon/water-medium.svg" class="qualify"></ion-icon>
          <ion-radio value="1" mode="md"></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item lines="none">
          <ion-icon src="./assets/icon/water-good.svg" class="qualify"></ion-icon>    
          <ion-radio value="0" mode="md" item-top></ion-radio>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-radio-group>
  </ion-list>
<ion-card>
  <ion-card-header>
    Descripción
  </ion-card-header>
  <ion-card-content>
    <ion-item lines="none">
      <ion-textarea placeholder="Ingrese una descripción de la muestra de agua obtenida" autoGrow="true" rows="5"></ion-textarea>
    </ion-item>
  </ion-card-content>
</ion-card>
<ion-button expand="block" color="blue" shape="round" class="ion-margin-horizontal"> Enviar reporte </ion-button>
</ion-content>
