.image-container{
    background: #6273ff69;
    text-align: center;
    img {
        height: 200px;
        width: 100%;
    }
}
ion-card {
    border-radius: 12px;
    box-shadow: 0 6px 10px 0 rgba(128,98,96,.16);
}
ion-item.header{   
    border-radius: 0 0 50% 0;
    background: var(--ion-color-blue);
    --background: var(--ion-color-blue);
    height: 79px;
    color: white;
}
ion-icon.qualify{
    font-size: 50px;
}