.estr {
    margin-right: 10px;
  }
svg{
  height: 20px;
}
  
.score-label{
  align-self: center;
}
ion-item.close-container{
  --background: transparent;
    width: 100%;
    position: absolute;
    ion-icon.close{
      float: right;
      color: white;
      font-size: x-large;
    }
}
.data-container {
  h2{
    margin: 0;
    width: 100%;
  }
  p {
    margin: 0;
    margin-top:10px;
    }
}
.water-icon{
  font-size: 60px;
}