
<ion-grid class="ion-no-padding">
  <ion-row>
    <ion-item class="close-container" lines="none">
      <ion-icon (click)="dismiss()" name="close-outline" class="close" slot="end"></ion-icon>
    </ion-item>
  </ion-row>
    <ion-row class="ion-no-padding"> 
        <ion-col class="ion-no-padding">
          <ion-card class="ion-no-margin">
            <img [src]="report.photo" alt="foto"/>
            <ion-card-content>
              <ion-row class="ion-text-wrap data-container">
                <h2><strong>{{report.fecha | date: "dd/MM/yyyy HH:mm"}}</strong></h2>
                <p> {{report.description}} </p>
              </ion-row>
            </ion-card-content>
          </ion-card>
          </ion-col>
      </ion-row>
      <ion-row class="ion-margin-top">
        <ion-col class="ion-text-center">
          <ion-icon [src]="getWaterQualityIcon()" class="water-icon"></ion-icon>
        </ion-col>
      </ion-row>
  </ion-grid>