#map_canvas {
    width: 90%;
    height: 80%;
    border: 1px solid red;
  }
   
   
  #address {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
  }
   
  #map {
    width: 100%;
    height: 100px;
  }
   
  .map-wrapper {
    position: relative;
    margin-top:-50px;
    #map_center {
      position: absolute;
      z-index: 99;
      height: 40px;
      width: 40px;
      top: 50%;
      left: 50%;
      margin-left: -21px;
      margin-top: -41px;
    }
  }
  ion-toolbar{
    --background: var(--ion-color-blue);
    color: white;
  }
  ion-item.header{   
    border-radius: 0 0 50% 0;
    background: var(--ion-color-blue);
    --background: var(--ion-color-blue);
    height: 79px;
    color: white;
    z-index: 999999999;
    ion-menu-button{
      color:white;
    }
}
.cupertino-pane {
  margin: 20px;
  margin-top: 0px;
  .estr {
    margin-right: 10px;
  }
svg{
  height: 20px;
}
  
.score-label{
  align-self: center;
}
ion-item.close-container{
  --background: transparent;
    width: 100%;
    position: absolute;
    ion-icon.close{
      float: right;
      color: white;
      font-size: x-large;
    }
}
.water-photo {
  height: 233px;
    width: 100%;
}
.data-container {
  h2{
    margin: 0;
    width: 100%;
  }
  p {
    margin: 0;
    margin-top:10px;
    font-size: medium;
    color: black;
    }
}
.water-icon{
  font-size: 60px;
}
}