<ion-content fullscreen>
  <ion-item lines="none" class="header">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-label>Mapa de reportes</ion-label>
  </ion-item> 
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openReportModal()" ion-fab color="blue">
      <ion-icon name="add-outline"></ion-icon>
                    </ion-fab-button>
  </ion-fab>
  <div class="map-wrapper" style="height: 100%;">      
    <div #map id="map"  style="height: 100%;"></div>
  </div>  
</ion-content>
<div class="cupertino-pane">

<ion-grid class="ion-no-padding content" *ngIf="selectedReport">
  <ion-row>
    <ion-item class="close-container" lines="none">
      <ion-icon name="close-outline" class="close" slot="end"></ion-icon>
    </ion-item>
  </ion-row>
  <ion-row class="ion-no-padding"> 
      <ion-col class="ion-no-padding">
        <ion-card class="ion-no-margin">
          <img [src]="selectedReport.photo" alt="foto" class="water-photo"/>
          <ion-card-content>
            <ion-row class="ion-text-wrap data-container">
              <h2><strong>{{selectedReport.fecha | date: "dd/MM/yyyy HH:mm"}}</strong></h2>
              <p> {{selectedReport.description}} </p>
            </ion-row>
          </ion-card-content>
        </ion-card>
        </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top">
      <ion-col class="ion-text-center">
        <ion-icon [src]="getWaterQualityIcon(selectedReport.type)" class="water-icon"></ion-icon>
      </ion-col>
    </ion-row>
</ion-grid>
</div> 